* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	flex-direction: column;
}

#timer {
	font-size: 3rem;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.buttons {
	display: flex;
	gap: 10px;
}

button {
	font-size: 1.2rem;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#start {
	background-color: green;
	color: white;
}

#stop {
	background-color: red;
	color: white;
}

#reset {
	background-color: orange; 
	color: white;
}

button:hover {
	opacity: 0.8;
}

#start:hover {
	background-color: darkgreen; 
}

#stop:hover {
	background-color: darkred; 
}

#reset:hover {
	background-color: darkorange; 
}